/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

*,
*::after,
*::before {
    margin: 0;
    padding:0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

@media only screen and (max-width:570px) {
    html {
        font-size: 37.5%;
    }
}

@media only screen and (max-width:340px) {
    html {
        font-size: 25%;
    }
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-grey-dark;
    padding: .9rem;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 95vh;
    background-image: linear-gradient(to bottom right,rgba($color-primary-light, 0.8),rgba($color-primary-dark, 0.8)),
        url('../img/hero.jpg');
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    &__logo-box {
        position: absolute;
        top: .9rem;
        left: .9rem;
    }
    
    &__logo {
        height: 7rem;
    }
}


.headding--primary {
    color: $color-white;
    letter-spacing: 2.3rem;
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: 400;
    animation: elm-left-to-right 2s ease-in;
}

.headding--secondary {
    color: $color-white;
    letter-spacing: 0.5rem;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    animation: elm-right-to-left 2s ease-in;
}

@keyframes elm-left-to-right {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes elm-right-to-left {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes elm-to-top {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.btn {
    color: $color-grey-dark;
    padding: 2.3rem;
    margin-top:0.9rem;
    border-radius: 15% / 50%;
    border-style: none;

    &--animated {
        animation: elm-to-top 1s linear;
    }
    
    &--white {
        border-color: $color-white;
        color: $color-grey-dark;
    }

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);
    }
    
    &:active {
        transform: translateY(-.1rem);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);
    }

    &:focus {
        outline: none;
    }
}



