.btn {
    color: $color-grey-dark;
    padding: 2.3rem;
    margin-top:0.9rem;
    border-radius: 15% / 50%;
    border-style: none;

    &--animated {
        animation: elm-to-top 1s linear;
    }
    
    &--white {
        border-color: $color-white;
        color: $color-grey-dark;
    }

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);
    }
    
    &:active {
        transform: translateY(-.1rem);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);
    }

    &:focus {
        outline: none;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}

