
*,
*::after,
*::before {
    margin: 0;
    padding:0;
    box-sizing: inherit;
}

html {
    //defines what rem is
    font-size: 62.5%;
}

@media only screen and (max-width:680px) {
    html {
        font-size: 37.5%;
    }
}

@media only screen and (max-width:405px) {
    html {
        font-size: 25%;
    }
}

body {
    box-sizing: border-box;
}